
@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Raleway:400,700');

/* Updated CSS with improvements */

:root {
    /* CSS variables for colors */
    --primary-color: #255C47;
    --text-color: #333;
    --subtext-color: #666;
    --background-color: beige;
    --hover-color: #255C47;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.header {
  display: flex;
   align-items: center;
   justify-content:space-evenly;
  padding: 20px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 93px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.logo {
    margin-left: -70px;
  }
.logo img {
    max-width: 200px;
    height: auto;
    align-items: center;
  
}


.nav {
    display: flex;
}
.nav ul {
  margin-left: 99px;
  display: flex;
  list-style: none;
  
}

.nav ul li {
  margin: 0 10px;
  
  
}

.nav ul li a {

  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.nav ul li a:hover {
  color:#255C47; /* replace #f00 with the desired color code */
}

  
    .hamburger{
      display: none; /* hide the hamburger container by default */
    }
    
    @media (max-width: 767.98px) {
      /* show the hamburger container on screens smaller than 768px */
      .hamburger {
        display: block;
        cursor: pointer;
        position: relative;
        z-index: 100;
        padding: 0.5rem;
      }
    
      /* animate the hamburger bars */
      .hamburger span {
        display: block;
        width: 2rem;
        height: 0.25rem;
        margin: 0.5rem auto;
        background-color: #333;
        border-radius: 0.25rem;
        transition: all 0.3s ease-in-out;
      }
    
      .hamburger.is-active span:nth-child(1) {
        transform: translateY(0.5rem) rotate(45deg);
      }
    
      .hamburger.is-active span:nth-child(2) {
        opacity: 0;
      }
    
      .hamburger.is-active span:nth-child(3) {
        transform: translateY(-0.5rem) rotate(-45deg);
      }
    }
  

.section {
    padding: 40px 0;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.title {
    text-align: center;
}

.title h2 {
    font-size: 36px;
    color: var(--text-color);
    margin-bottom: 20px;
    font-family: 'Great Vibes', cursive;
}

.title p, .content p {
    font-size: 17.5px;
    color: var(--subtext-color);
    margin-bottom: 40px;
    font-family: 'Raleway', sans-serif;
}

.hero {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/img/2023-10-30\ \(1\).jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image in the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    padding: 50px 20px; /* Increased padding to add height */
    /* Or you can set a specific height */
    height: 500px;
    font-size: 50px;
  text-align: center;
  margin-top: 95px;
   

}
@keyframes wave-animation {
    0%, 60%, 100% {
      transform: translateY(0);
    }
    30% {
      transform: translateY(-10px);
    }
  }
  
  .hero h1 {
    display: flow;
    font-size: 100px;
    color: var(--text-color);
    margin-bottom: 45px;
    margin-top: 49px;
    overflow: visible;
    font-family:'Merianda';

    /* Apply the animation to each letter */
    span {
      display: inline-block;
    animation: wave-animation 1.5s infinite;
    animation-delay: calc(0.1s * var(--i));
    animation-duration: 2s;
    }
  }
 .hero h1 span:nth-child(1) { color: var(--primary-color) } /* First letter */
.hero h1 span:nth-child(2) { color: var(--primary-color) } /* Second letter */
.hero h1 span:nth-child(3) { color: var(--primary-color)} /* Third letter */
.hero h1 span:nth-child(4) { color: var(--primary-color)} /* Fourth letter */
/* ... and so on for each letter */


.hero p {
    font-size: 30px;
    color: var(--primary-color);
    margin-top: -38px;
}

.hero button {
    padding: 9px 19px;
    margin-top: 50px;
    border: none;
    border-radius: 2rem;
    background-color: var(--text-color);
    color: #fff;
    font-size: 15px;
    font-family: fangsong;
    cursor: pointer;
    /* Smooth transition for hover effect */
    transition: background-color 0.3s ease;
}

.hero button:hover {
    background-color: var(--hover-color);
    animation: bounce 1s;
}

  
.image img {
    width: 80%;
}
/* ___________________SERVICE___________________*/

.section-service h2{
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 3em;
}
 .service-section p{
    text-align: center;
    text-indent: 50px;
    margin: 0 auto;
    font-size: 1px;

}
.cards {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    
}

@keyframes fade-in{
    from {opacity: 0;}
    to {opacity: 1;}
  }

  
.card {
    width: 300px;
    height: 300px;
    border: 0.1pt solid #c0c0c0;
    animation: fade-in 1s;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    /* Smooth transition for hover effect */
    transition: transform 0.4s ease;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: (0px  30px 10px #255C47);
    transition: 0.3s;
    animation: fade-in 1s;
}
    


  
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: var(white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.icon img {
    width: 70px;
}

.content h3 {
    font-size: 25px;
    color: var(--text-color);
    margin-bottom: 10px;
    font-family: 'Raleway', sans-serif;
text-align: center;
}
.content p {
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 15px;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 15px;
    font-family: 'UI-SANS-SERIF';
    line-height: 1.5;
    text-align: center;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

button.bounce {
    animation: bounce 1s;
}

.team {
    display: flex;
}


/* Add this at the end of your CSS file */

/* For screens smaller than 600px */
@media (max-width: 768px) {
    /* Reduce the font size of the title and the hero text */

.logo img{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


    .title h2{
        font-size: 3em;
    } 
    .hero h1{
        font-size: 1em;
        align-items: center;
        margin-top: 149px;
    } 
    .hero p {
        display: none;
      font-size: 2em;
      text-align: center;
      align-items: center;
    }
  .hero button{
    border-radius: 2rem;
    align-self: center;
    margin-top: -31px;
  }

    /* Hide the navigation bar */
    .nav {
      display:none;
    }
  
    /* Make the grid one column */
    .cards {
      display: flex;
      align-items: center;
      gap: 20px;
      align-items:center;
      flex-direction: column;
    }
  
    /* Reduce the width and height of the card icons */
    .icon img {
      width: 40px;
      align-items: center;
    }

  }
  
  /* For screens between 600px and 900px */
  
  
    /* Reduce the width and height of the card icons */
    .icon img {
      width: 50px;
    }
  

    /* Reduce the width and height of the card icons */
    .icon img {
      width: 50px;
    }  
    /*       Slider       */
    .jadu {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 40vh;
      background: #fbfdf1;
    }
    
    .noder {
      max-width: 1200px;
      width: 95%;
    }
    
    .slider-wrapper {
      position: relative;
    }
    
    .slider-wrapper .slide-button {
      position: absolute;
      top: 50%;
      outline: none;
      border: none;
      height: 50px;
      width: 50px;
      z-index: 5;
      color: #fff;
      display: flex;
      cursor: pointer;
      font-size: 2.2rem;
      background: #000;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transform: translateY(-50%);
    }
    
    .slider-wrapper .slide-button:hover {
      background: #404040;
    }
    
    .slider-wrapper .slide-button#prev-slide {
      left: -25px;
      display: none;
    }
    
    .slider-wrapper .slide-button#next-slide {
      right: -25px;
    }
    
    .slider-wrapper .image-list {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 18px;
      font-size: 0;
      list-style: none;
      margin-bottom: 30px;
      overflow-x: auto;
      scrollbar-width: none;
    }
    
    .slider-wrapper .image-list::-webkit-scrollbar {
      display: none;
    }
    
    .slider-wrapper .image-list .image-item {
      width: 325px;
      height: 400px;
      object-fit: cover;
      border-radius: 4%;
    }
    
    .noder .slider-scrollbar {
      height: 24px;
      width: 100%;
      display: flex;
      align-items: center;
    }
    
    .slider-scrollbar .scrollbar-track {
      background: #ccc;
      width: 100%;
      height: 2px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      position: relative;
    }
    
    .slider-scrollbar:hover .scrollbar-track {
      height: 4px;
    }
    
    .slider-scrollbar .scrollbar-thumb {
      position: absolute;
      background: #000;
      top: 0;
      bottom: 0;
      width: 50%;
      height: 100%;
      cursor: grab;
      border-radius: inherit;
    }
    
    .slider-scrollbar .scrollbar-thumb:active {
      cursor: grabbing;
      height: 8px;
      top: -2px;
    }
    
    .slider-scrollbar .scrollbar-thumb::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -10px;
      bottom: -10px;
    }
    
    /* Styles for mobile and tablets */
    @media only screen and (max-width: 1023px) {
      .slider-wrapper .slide-button {
        display: none !important;
      }
    
      .slider-wrapper .image-list {
        gap: 10px;
        margin-bottom: 15px;
        scroll-snap-type: x mandatory;
      }
    
      .slider-wrapper .image-list .image-item {
        width: 280px;
        height: 380px;
      }
    
      .slider-scrollbar .scrollbar-thumb {
        width: 20%;
      }
    }

    /*-----------map&info------------*/

.container-box{
	position: relative;
	width: 99%;
    background-color:#6ae0b3;
	height: 100%;
    margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:50px 5px 50px 5px;
    background-image: url(./assets/img/Hero-bg.jpeg);
    background-size: cover;
    background-blend-mode: multiply;
}

.container-box:after{
	content: '';
	position: absolute;
	width: 70%;
	height: 40%;
	left: 0;
	top: 0;
    right: 0;
	z-index: -1;
}
.contact-box{
	max-width: 850px;
    background-color: #fff;
    border-radius: 2rem;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.5);
}

.left{
	background-size: cover;
	height: 100%;
  border-radius: 2rem;
}

.right{
	padding: 38px 50px 14px 59px;
}

.container-box h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.container-box h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color:#255C47;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 50%S;
	padding: 0.5rem 1rem;
	background-color: #255C47;
	color: #fff;
	font-size: 1.1rem;
	border: none;
  border-radius: 2rem;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: rgb(52, 128, 99)
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 700px){
	
    .container-box{
        padding: 200px 20px 200px 20px;
    }
    .contact-box{
		grid-template-columns: 1fr;
	}
	


  
}
  

  
  
  
  
    /*_________Footer________________*/

    
    .footer {
      bottom:0;
      left:0;
      position:fixed;
        width: 100%;
        height: 3em;
        overflow:hidden;
      
        background-color: beige;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin:0 auto;
      -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      z-index:999;
    }
    .footer:hover {
      -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
      height: 13.5em;
    }
  
    .footer #cont{
      position:relative;
      top:-5px;
      right:190px;
      width:150px;
      height:auto;
      margin:0 auto;
    }
    

    .footer h2{
      font-family: 'Great Vibes';
      font-size: 42px;
      position: relative;
      margin-bottom: 7px;
      margin-top: 22px;
      text-align: center;
      color: h#000000
    }
    .footer h2:hover {
      color:#255C47; /* replace #f00 with the desired color code */
    }
    

    .footer__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 36px;
      max-width: max-content;
      background-color:#255C47;
      border-radius: 100px;
      color: #141414;
      font-weight: bolder;
      line-height: 0;
      margin: 0.6em 0;
      font-size: 1rem;
      padding: 0 1.3em;
    }
    
    .footer ul {
      list-style: none;
      padding-left: 110px;
      align-self: center;
    }
    
    .footer li {
      line-height: 2em;
    }
    
    .footer a {
      text-decoration: none;
    }
    

    .footer p {
      width: 470%;
      height: 500%;
      padding-left: -32px;
      padding-top: 11px;
  }
    .footer__nav {
      display: flex;
        flex-flow: row wrap;
    }
    
    .footer__nav > * {
      flex: 1 50%;
      margin-right: 1.25em;
    }
    
    .nav__ul a {
      color: #999;
    }
  
    .main {
      display: absolute;
      align-items: center;
      height: 50%;
      justify-content: center;
      flex-direction: column;
      gap: 0.25em;
  }
  
  .up {
      display: flex;
      flex-direction: row;
      gap: 0.25em;
  }
  
  .down {
      display: flex;
      flex-direction: row;
      gap: 0.25em;
  }
  
  .card1 {
      width: 65px;
      height: 65px;
      margin-top: 2px;
    
      outline: none;
      border: none;
      background: white;
      border-radius: 90px 5px 5px 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      transition: .2s ease-in-out;
  }
  
  .instagram {
      margin-top: 0.75em;
      margin-left: 0.6em;
      fill: #cc39a4;
  }
  
  .card2 {
      width: 65px;
      height: 65px;
      margin-top: 2px;
      outline: none;
      border: none;
      background: white;
      border-radius: 5px 90px 5px 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      transition: .2s ease-in-out;
  }
  
  .twitter {
      margin-top: 0.75em;
      margin-left: -.45em;
      fill: #03A9F4;
  }
  
  .card3 {
      width: 65px;
      height: 65px;
      margin-top: 2px;
      outline: none;
      border: none;
      background: white;
      border-radius: 5px 5px 5px 90px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      transition: .2s ease-in-out;
  }
  
  .github {
      margin-top: -.3em;
      margin-left: 0.6em;
  }
  
  .card4 {
      width: 65px;
      height: 65px;
      margin-top: 2px;
      outline: none;
      border: none;
      background: white;
      border-radius: 5px 5px 90px 5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
      transition: .2s ease-in-out;
  }
  
  .discord {
      margin-top: -.45em;
      margin-left: -0.6em;
      fill: #8c9eff;
  }
  
  .card1:hover {
      cursor: pointer;
      scale: 1.1;
      background-color: #cc39a4;
  }
  
  .card1:hover .instagram {
      fill: white;
  }
  
  .card2:hover {
      cursor: pointer;
      scale: 1.1;
      background-color: #03A9F4;
  }
  
  .card2:hover .twitter {
      fill: white;
  }
  
  .card3:hover {
      cursor: pointer;
      scale: 1.1;
      background-color: black;
  }
  
  .card3:hover .github {
      fill: white;
  }
  
  .card4:hover {
      cursor: pointer;
      scale: 1.1;
      background-color: #8c9eff;
  }
  
  .card4:hover .discord {
      fill: white;
  }
  
    
    .legal {
      display: block;
      color:#000000;
      font-weight: 200;
      font-size: small; 
   
      margin-bottom: 0px;
      margin-left: 50px;
    }
    .legal p{
      text-align: center;
    }
    
@media screen and (max-width: 700px){
  .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 2px 69px 10px 0px;
    background-image: url("./assets/img/Hero-bg.jpeg");
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
  } 
  .footer h2 {
    
    color: white;
}
}
  

      .footer__addr {
        flex: 1 0px;
      }
    
      .footer__nav {
        flex: 2 0px;
      }
      
      
    